
/*selector universal*/
*{
  
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230,200,149);
    font-family: Arial, Helvetica, sans-serif;
}
.id{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    padding: 10px;
    

}

header{
    height: 15%;
    background-color: rgb(230,200,149);
    text-align: center;
    width: 100%;
}


aside{
    background-color:  rgb(190,193,79);
    height: 35%;
    width: 39%;
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section{
    background-color:rgb(151,158,54);
    height: 65%;
    width: 60%;
    float: left;
}
footer{
    background-color: rgb(230,200,149);
    height: 10%;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
menu{
    background-color: rgb(171,161,134);
    height: 5%;
    width: 100%;
    
}
.menuce{
    text-align: center;
}

.barranav{
    display: flex;
    margin: px;
    flex-wrap: wrap;
    text-align: center;

}
nav a{
    padding: 14px 20px;
    
}

ul{
    text-align: center;
}
li{
    text-align: left;
}
.imagenes{
    display: flex;
    padding: 20px 15px;
    align-content: center;

}
img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    
}


.contenedor{
    display: flex;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    flex-wrap: wrap;
}
